<div class="container">
    <form class="example-form">

        <div class="row">
            <div class="col-sm">
                <div>
                    <img src="//ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png" class="LrbNhc XUdeqd"
                        data-iml="11237200.2" data-atf="true">
                </div>
            </div>
            <div class="col-sm">
                <div *ngIf="contact">
                    <p class="text-justify"> {{contact.firstName + ' ' + contact.lastName}}</p>
                </div>
                <div *ngIf="contact">
                    <p class="text-justify">   {{contact.jobTitle + '●' + contact.company}}</p>
                </div>
              
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
        </div>
        <hr>
    </form>
</div>