<div class="container">
    <form #contactAddFrom="ngForm" class="example-form">

        <div class="row">
            <div class="col-sm">
                <div>
                    <img src="//ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png" class="LrbNhc XUdeqd"
                        data-iml="11237200.2" data-atf="true">
                </div>
            </div>
            <div class="col-md-4">
                <div *ngIf="contact">
                    <p class="text-justify"> {{contact.firstName + ' ' + contact.lastName}}</p>
                </div>
                <div *ngIf="contact">
                    <p class="text-justify"> {{contact.jobTitle + '●' + contact.company}}</p>
                </div>
                <div class="col-sm-4" >
                    <mat-label>
                        <h5 class="time" >
                            <mat-icon matSuffix >access_time</mat-icon>Local Time {{today | date:'h:mm a'}}
                        </h5>
                    </mat-label>
                </div>
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
        </div>
        <h4><i class="material-icons" style="margin-right: 2px;">email</i> <i class="material-icons" style="margin-right: 2px;">date_range</i> <i class="material-icons" style="margin-right: px;">chat_bubble_outline</i> <i class="material-icons">videocam</i></h4>       
    </form>
</div>