<i type="button" class="material-icons" (click)="back()" style="border-radius: 40px; border: 1px solid black;">close</i>
<div class="container">
  <form #contactAddFrom="ngForm" (ngSubmit)="update(contactAddFrom)" class="example-form">
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div>
          <img src="//ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png" class="LrbNhc XUdeqd" data-iml="11237200.2"
            data-atf="true">
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div *ngIf="contact" style="margin-top: 50px;">
          <p class="text-justify" style="font-size: x-large;"> {{contact.firstName + ' ' +
            contact.lastName}}</p>
        </div>
        <div class="col" style="margin-top: 10px; ">
          <i class="material-icons" style="border-radius: 40px; border: 1px solid black;" matSuffix>label_outline</i>
      </div>
      </div>
      <div class="col-sm-4 col-md-4" style="margin-top: 100px;">
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary" [disabled]="contactAddFrom.invalid">Save</button>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-1">
        <svg width="20" height="20" viewBox="0 0 24 24" class="NSy2Hd cdByRd RTiFqe undefined">
          <path d="M0 0h24v24H0V0z" fill="none"></path>
          <path
            d="M12 6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2m0 9c2.7 0 5.8 1.29 6 2v1H6v-.99c.2-.72 3.3-2.01 6-2.01m0-11C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z">
          </path>
        </svg>
      </div>
      <div class="col-sm-11">
        <mat-form-field class="example-full-width" appearance="standard">
          <mat-label>First name</mat-label>
          <input #firstName="ngModel" [(ngModel)]="contact.firstName" id="firstName" name="firstName" required matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="standard">
          <mat-label>Last name</mat-label>
          <input #lastName="ngModel" [(ngModel)]="contact.lastName" id="lastName" name="lastName" required matInput>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-1">
        <svg width="20" height="20" viewBox="0 0 24 24" class="NSy2Hd cdByRd RTiFqe undefined">
          <path fill="none" d="M0 0h24v24H0V0z"></path>
          <path
            d="M12 7V3H2v18h20V7H12zM6 19H4v-2h2v2zm0-4H4v-2h2v2zm0-4H4V9h2v2zm0-4H4V5h2v2zm4 12H8v-2h2v2zm0-4H8v-2h2v2zm0-4H8V9h2v2zm0-4H8V5h2v2zm10 12h-8v-2h2v-2h-2v-2h2v-2h-2V9h8v10zm-2-8h-2v2h2v-2zm0 4h-2v2h2v-2z">
          </path>
        </svg>
      </div>
      <div class="col-sm-11">
        <mat-form-field class="example-full-width" appearance="standard">
          <mat-label>Company</mat-label>
          <input #company="ngModel" [(ngModel)]="contact.company" id="company" name="company" matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="standard">
          <mat-label>Job title</mat-label>
          <input #jobTitle="ngModel" [(ngModel)]="contact.jobTitle" id="jobTitle" name="jobTitle" matInput>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-1">
        <svg width="20" height="20" viewBox="0 0 24 24" class="NSy2Hd cdByRd RTiFqe undefined">
          <path d="M0 0h24v24H0V0z" fill="none"></path>
          <path
            d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6zm-2 0l-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z">
          </path>
        </svg>
      </div>
      <div class="col-sm-11">
        <mat-form-field class="example-full-width" appearance="standard">
          <mat-label>Email</mat-label>
          <input #email="ngModel" [(ngModel)]="contact.email" id="email" name="email" matInput>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-1">
        <svg width="20" height="20" viewBox="0 0 24 24" class="NSy2Hd cdByRd RTiFqe undefined">
          <path fill="none" d="M0 0h24v24H0V0z"></path>
          <path
            d="M6.54 5c.06.89.21 1.76.45 2.59l-1.2 1.2c-.41-1.2-.67-2.47-.76-3.79h1.51m9.86 12.02c.85.24 1.72.39 2.6.45v1.49c-1.32-.09-2.59-.35-3.8-.75l1.2-1.19M7.5 3H4c-.55 0-1 .45-1 1 0 9.39 7.61 17 17 17 .55 0 1-.45 1-1v-3.49c0-.55-.45-1-1-1-1.24 0-2.45-.2-3.57-.57-.1-.04-.21-.05-.31-.05-.26 0-.51.1-.71.29l-2.2 2.2c-2.83-1.45-5.15-3.76-6.59-6.59l2.2-2.2c.28-.28.36-.67.25-1.02C8.7 6.45 8.5 5.25 8.5 4c0-.55-.45-1-1-1z">
          </path>
        </svg>
      </div>

      <div class="col-sm-5">
        <mat-form-field appearance="standard">
          <mat-label clas="form-control">Country</mat-label>
          <mat-select clas="form-control" #phoneCodeId="ngModel" [(ngModel)]="contact.countryCode" id="countryCode"
            name="phoneCode">
            <mat-option *ngFor="let phoneCode of phoneCodes" [value]="phoneCode.dial_code">{{phoneCode.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="col-sm-6">
        <mat-form-field class="example-full-width" appearance="standard">
          <mat-label>Phone</mat-label>
          <input #phone="ngModel" [(ngModel)]="contact.phone" id="phone" name="phone" matInput>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-1">
        <svg width="20" height="20" viewBox="0 0 24 24" class="NSy2Hd cdByRd RTiFqe undefined">
          <path fill="none" d="M0 0h24v24H0V0z"></path>
          <path
            d="M16 4H4c-1.1 0-2 .9-2 2v12.01c0 1.1.9 1.99 2 1.99h16c1.1 0 2-.9 2-2v-8l-6-6zM4 18.01V6h11v5h5v7.01H4z">
          </path>
        </svg>
      </div>
      <div class="col-sm-11">
        <mat-form-field class="example-full-width" appearance="standard">
          <mat-label>Notes</mat-label>
          <textarea #notes="ngModel" [(ngModel)]="contact.notes" id="notes" name="notes" matInput></textarea>
        </mat-form-field>
      </div>
    </div>

  </form>
</div>